@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
	padding: 0;
	margin: 0;
	box-shadow: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
}

button{
	border: none;
	outline: none;
	padding: 10px 15px;
	color: #fff;
	cursor: pointer;
}

.container{
	width: 100%;
	background: #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
}


.container .card{
	background: #fff;
	display: inline-block;
	padding: 10px;
	width: 100%;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.container .card .head .likes,
.container .card .head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
}


.container .card .head .likes{
	justify-content: flex-start;
	color: #ccc;
}


.container .card .head .discount button{
	background: orangered;
	display: inline-block;
}
.container .card .head .likes p{font-size: 12px;}
.container .card .head .likes ion{
	margin-right: 10px;
	font-size: 16px;
	cursor: pointer;
}


.container .card .product{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0px;
	position: relative;
}



.container .card .text p{color: rgba(0,0,0,0.7);}
.container .card .text h3{margin: 15px 0px; font-size: 18px;}
.container .card .text{
	text-align: center;
}




.container .card .footer .cart button{
	background: transparent;
	color: #ccc;
}
.container .card .footer .action button{
	background: #00e781;
}
.container .card .footer{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}














/*spacing*/